@import '../../../_shared/styles/variables.css';

.container {
  position: relative;
  z-index: 9999;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  &.hidden {
    display: none;
  }

  &:hover {
    box-shadow: lightgray 0px 0px 20px;
  }

  .ruler {
    display: flex;
    flex-direction: column;
    gap: var(--ruler-extension-css-vars-space-sm);

    outline-style: solid;
    outline-width: 1px;
    border-radius: var(--ruler-extension-css-vars-space-xs);
    box-sizing: border-box;

    resize: both;
    overflow: auto;
    transition: box-shadow 0.1s;
    user-select: none;
    position: relative;

    .axis,
    .steps {
      margin-left: var(--ruler-extension-css-vars-space-lg);
    }

    /* .presentational {
      margin: auto var(--ruler-extension-css-vars-space-lg);
      flex-grow: 1;
      color: lightgray;
    } */

    .axis {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      &.primary {
        height: 40%;
        max-height: 60px;
      }

      &.secondary {
        height: 20%;
        max-height: 40px;
      }
    }

    .steps {
      display: flex;
      position: relative;

      .step {
        position: absolute;
        transform: translateX(calc(-50% - 2px));
        top: 60px;
      }
    }
  }
}
