@import '../../../_shared/styles/variables.css';

.container {
  .ruler {
    min-width: 11cm;
    max-width: 51cm;
    min-height: 116px;
    max-height: 300px;
    overflow: hidden;

    outline-style: solid;
    outline-width: 1px;
    border-radius: var(--ruler-extension-css-vars-space-xs);

    &:not(.resizingDisabled) {
      resize: both;
    }
  }
}
