@import '../../../_shared/styles/variables.css';

.container {
  position: relative;
  z-index: 9999 !important;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--ruler-extension-css-vars-space-md);

  &.hidden {
    display: none;
  }

  &:hover {
    box-shadow: lightgray 0px 0px 24px;
  }

  .ruler {
    display: flex;
    flex-direction: column;
    gap: var(--ruler-extension-css-vars-space-sm);

    outline-style: solid;
    outline-width: 1px;
    border-radius: var(--ruler-extension-css-vars-space-xs);
    box-sizing: border-box;

    overflow: hidden;
    transition: opacity 0.1s;
    user-select: none;
    position: relative;
    min-width: 10.5cm;
    max-width: 50cm;
    min-height: 110px;
    max-height: 300px;

    &:not(.resizingDisabled) {
      resize: both;
    }

    .axis,
    .steps {
      margin-left: var(--ruler-extension-css-vars-space-xlg);
    }

    .axis {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      &.primary {
        height: 60px;
      }

      &.secondary {
        height: 40px;
      }
    }

    .units {
      position: absolute;
      top: 80px;
      left: var(--ruler-extension-css-vars-space-xlg);
    }

    .steps {
      display: flex;
      position: relative;

      .step {
        position: absolute;
        transform: translateX(calc(-50% + 1px));
        top: 60px;
      }
    }
  }
}
