@import '../../_shared/styles/variables.css';

.ruler {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-style: solid;
  border-width: 1px;
  padding: var(--ruler-extension-css-vars-space-sm);
  border-radius: var(--ruler-extension-css-vars-space-xs);

  display: flex;
  flex-direction: column;
  gap: var(--ruler-extension-css-vars-space-sm);

  resize: both;

  .secondaryAxis {
    margin-top: auto;
  }
}
