@import "../../_shared/styles/variables.css";

.ruler {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 300px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  padding: var(--ruler-extension-css-vars-space-sm);
}
