.draggable {
  position: fixed;
  z-index: 9999;
  cursor: move;
  border-radius: var(--ruler-extension-css-vars-space-xs);
  will-change: auto;
  -webkit-font-smoothing: antialiased; /* or subpixel-antialiased */
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
