.settings {
  display: flex;
  flex-direction: column;
  padding: var(--ruler-extension-css-vars-space-sm) var(--ruler-extension-css-vars-space-lg)
    var(--ruler-extension-css-vars-space-lg) var(--ruler-extension-css-vars-space-lg);
  user-select: none;
  gap: var(--ruler-extension-css-vars-space-lg);

  & label {
    font-weight: bold;
  }

  & input:not([type='range']):not([type='color']),
  & select {
    padding: var(--ruler-extension-css-vars-space-xxs) var(--ruler-extension-css-vars-space-xs);
    border-radius: calc(var(--ruler-extension-css-vars-space-xxs) / 2);
    border: 1px solid var(--ruler-extension-css-vars-border-color);
    box-shadow: none;

    &:focus-visible {
      outline-color: var(--ruler-extension-css-vars-bolder-color);
    }
  }

  & input[type='color'] {
    padding: 0;
    height: calc(var(--ruler-extension-css-vars-space-md) * 2);
    width: calc(var(--ruler-extension-css-vars-space-md) * 3);
    box-sizing: content-box;
  }

  .flex {
    display: flex;

    &.column {
      flex-direction: column;
    }

    &.spaceXS {
      gap: var(--ruler-extension-css-vars-space-xs);
    }

    &.spaceSM {
      gap: var(--ruler-extension-css-vars-space-sm);
    }

    &.spaceMD {
      gap: var(--ruler-extension-css-vars-space-md);
    }

    &.spaceLG {
      gap: var(--ruler-extension-css-vars-space-lg);
    }
  }
}
