:root {
  --ruler-extension-css-vars-overlay-color: #fff;
  --ruler-extension-css-vars-action-color: rgb(235, 235, 235);

  --ruler-extension-css-vars-space-xs: 0.5rem;
  --ruler-extension-css-vars-space-sm: 0.75rem;
  --ruler-extension-css-vars-space-md: 1rem;
  --ruler-extension-css-vars-space-lg: 1.25rem;
}
